:root {
  --blue: #085bb9; 
  --yellow: #ffd303; 
  --bg: #fbfbe2;
}

.dropdown-menu, 
nav#navbar-main li.nav-item {
  font-size: large; 
  font-variant: small-caps;
}

#navbar-main .main-menu-item ul li .nav-link {
  font-weight: bold;
  color: var(--blue);
}

.navbar, .navbar-collapse{
  background: var(--bg);
}

.page-header, .page-footer {
    flex-shrink: 0;
}
*, *::before, *::after {
    box-sizing: border-box;
}
user agent stylesheet
div {
    display: block;
}
body {
  background-color: var(--bg);
}

.home-section.light h1.hero-title{
    font-variant: small-caps;
}

h1 {
  font-weight: bold;
  color: var(--blue);
  text-shadow: 2px 2px var(--yellow);
}

.home-section.light 
h1 {
  font-weight: bold;
  color: var(--blue);
  text-shadow: 2px 2px var(--yellow);
}

h4 {
  font-weight: bold;
  color: var(--blue);
  font-size: 1.75rem;
  text-shadow: 1.5px 1.5px var(--yellow);
}

h5 {
  color: var(--blue);
  font-size: 1.2rem;
}


.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}

.btn {
    padding: 0.5rem;
    font-size: 0.8rem;
    line-height: 0.9;
    border-radius: 0.3rem;
}
.pl-3, .px-3 {
    padding-left: 1rem !important;
}
.pb-3, .py-3 {
    padding-bottom: 1rem !important;
}
.pr-3, .px-3 {
    padding-right: 1rem !important;
}
.pt-3, .py-3 {
    padding-top: 1rem !important;
}

.wg-hero.light a.btn, .btn-primary {
  color: var(--yellow);
  background-color: var(--blue);
  border-color: var(--blue);
  font-weight: bold;
}

  .double-border {
    background-color: var(--yellow);
    box-shadow:
      inset 0 0 0 0.4rem var(--blue);
    /* And so on and so forth, if you want border-ception */
    margin-left: +5vh;
    margin-right: +5vh;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    padding-left: 4.8rem;
    padding-right: 4.8rem;
  }

  .blue_bg {
    background-color: var(--blue);
    /* And so on and so forth, if you want border-ception */
    margin-left: +5vh;
    margin-right: +5vh;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    padding-left: 1.8rem;
    padding-right: 1.8rem;
  }

  blockquote { 
    color: #000;
    border-left: 0.25rem solid var(--blue);
    margin: 0.2rem 0.2rem 0.2rem 2.75rem;
  }

  .wg-hero.light .btn-primary{
    margin-top: 3vh;
    vertical-align: baseline;
  }

  a.hero-cta-alt{
    vertical-align: baseline;
  }

  body {
    font-size: 1.35rem;
  } 

  .featurette {
    font-size: 1.35rem;
  }

  .article-date{
    font-size: 0.95rem;
  }

  input[type=submit] {
    background:var(--bg); 
    border:none;
    color:#1565c0;
}